<ul class="nav nav-pills nav-justified">
	<li class="active"><a href="/admin">Home</a></li>
	<li><a href="/admin/cards">Cards</a></li>
	<li><a href="/admin/educators/plan">Educators/Plan</a></li>
	<li><a href="/admin/educators/teach">Educators/Teach</a></li>
</ul>