<div class="row" style="margin-top: 15px;">
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105450.1285597163!2d11.983637278520208!3d65.60872564507059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4674bc3cb345a159%3A0x79fd4d1933d3069b!2sFylkesvei+90+330!5e0!3m2!1ses!2ses!4v1400504204543" width="600" height="450" frameborder="0" style="border:0"></iframe>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Contact</h3>
			</div>
			<div class="panel-body">
				<address>
					<strong>Vega</strong><br>
					Fylkesvei 90 330<br>
					8980 Vega<br>
					Noruega<br>
					<abbr title="Phone">P:</abbr> (123) 456-7890
					</address>

					<address>
					<strong>Full Name</strong><br>
					<a href="mailto:#">first.last@example.com</a>
				</address>

			</div>
		</div>

	</div>
</div>