<div>
	<%= link_to root_path do %>
	    <%= image_tag "Logo.png", class: "logo center-block pull-left", size: '150', :style => "margin:0 35px;" %>
	<% end %>
	<div class="lead" style="font-size: 35px; padding-top:45px;">
		<p><strong>Welcome to the world of</strong></p>
		<p><strong>VEGA!</strong></p>
	</div>
</div>

<iframe width="560" height="315" src="//www.youtube.com/embed/k5v_L6EoYns?rel=0" frameborder="0" allowfullscreen style="width: 100%; height: 380px;"></iframe>



  <section class="containerFlip">
    <div id="card">
      <figure class="front">
      	<div style="width: 400px;">
          <button id="explore" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">Explore</button>
		      <button id="educator" type="button" class="btn btn-default btn-lg btn-block" style="height: 60px;">Educators</button>
        </div>
      </figure>
      <figure class="back">
        <div class="row">
          <div class="col-lg-7">
          	<form class="form-signin" role="form">
        			<h2 class="form-signin-heading">Please sign in</h2>
        			<input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        			<input type="password" class="form-control" placeholder="Password" required="">
        			<label class="checkbox">
        				<input type="checkbox" value="remember-me"> Remember me
        			</label>
        			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        		</form>
          </div>
          <div class="col-lg-5">
            <%= link_to "Sign up", history_path, :class => 'btn btn-primary btn-lg btn-block navbar-link', :style => "height: 100px;"  %>
            <%= link_to "Guest", explores_path, :class => 'btn btn-default btn-lg btn-block navbar-link', :style => "height: 60px;"  %>
          </div>
        </div>
      </figure>
    </div>
  </section>

  <script>
    $(function() {
      $("#explore").click(function(){
        $.cookie('signUpMode', 'explore');
        $("#card").toggleClass('flipped');
      });

      $("#educator").click(function(){
        $.cookie('signUpMode', 'educator');
        $("#card").toggleClass('flipped');
      });
    });
  </script>