<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= @card.name %></h4>
    </div>
    <div class="modal-body">
      <div class="well">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object img-thumbnail" src="http://4.bp.blogspot.com/-eeOpU2dlaE8/TuSULJIiA5I/AAAAAAAABqc/pMHOdgmsx_E/s1600/pato.jpg" alt="pato">
          </a>
          <div class="media-body">
            <div class="text-justify"><%= @card.description %></div>
            <span class="pull-right text-muted"><%= @card.genre %></span>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <h4>Attachments</h4>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @card.attachments.each do |attachment| %>
              <div class="item">
                <%= attachment.getPhoto(105,105).html_safe %>
              </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script>
  $(".carousel-inner .item:first").addClass("active");
</script>